* { box-sizing: border-box; }

html, body {
	min-height: 100%;
	height: 100%;
	font-weight: 400;
}

body {
	font-family: sans-serif;
	padding: 0 1rem;
	margin: 0;
	display: flex;
	flex-direction: column;
}

header {
	font-size: 1.5rem;
	font-size: min(max(1.5rem, 4vw), 2rem);
}

@media (min-width: 800px) {
	header {
		font-size: 2rem;
	}
}

header h1 {
	font-size: 1em;
}

footer {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	padding-bottom: 1rem;
}

footer .infolinks {
	align-self: flex-end;
}

.icon svg {
	vertical-align: -.17em;
	width: 0.9375em; /* 30px / 32px */
	height: 0.9375em;
}

input[type="text"] {
	border-radius: 0;
	padding: .25rem .375rem;
	font-size: 1rem;
	line-height: 1.5;
	border: 1px solid #ced4da;
	color: #343a40;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input[type="text"]:focus {
	box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
	border-color: #80bdff;
	outline: 0;
}

button {
	cursor: pointer;
	font-weight: 400;
	text-align: center;
	line-height: 1.5;
	border-radius: 0;
	padding: .1rem .75rem;
	font-size: .9rem;
	transition: background .1s linear;
	background: #0062cc;
	border: #001933 1px solid;
	color: #fff;
}

button:hover {
	background: #007bff;
	border-color: #0062cc;
}

.index main {
	min-height: calc(min(640px, 100%));
	height: calc(min(640px, 100%));
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.index form {
	width: 100%;
}

.search main {
	max-width: 800px;
	width: 100%;
	margin: 1rem auto 0;
}

.search p[role="note"] {
	color: gray;
	font-size: 0.875rem;
	margin-bottom: 0.5rem;
}

.search ol {
	margin-top: 0;
}

.about main {
	max-width: 800px;
	width: 100%;
	margin: 1rem auto 0;
	line-height: 1.3;
}

.about pre {
	overflow-x: auto;
	background: #e9ecef;
	padding: .25rem;
}

form {
	display: flex;
	flex-direction: column;
}

form label {
	display: none;
}

h1 {
	font-weight: normal;
	text-align: center;
	margin-bottom: 1rem;
}

h1 a {
	text-decoration: none;
	color: black;
}

ol {
	list-style-type: none;
	padding: 0;
}

.input-group {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}

.input-group input[type="text"] {
	width: 100%;
}

.input-group button {
	width: 100%;
	height: 2.5em;
	margin-top: 0.5rem;
}

@media (min-width: 320px) {
	.input-group {
		display: flex;
	}

	.input-group input[type="text"] {
		width: 0;
		flex: 1;
	}

	.input-group button {
		width: auto;
		height: auto;
		margin-top: 0;
		margin-left: 0.5rem;
	}
}

.infolinks {
	text-align: center;
	margin-top: 1rem;
}

.infolinks a {
	color: gray;
	margin: 0 0.75rem;
	white-space: nowrap;
}

.alert {
	margin-top: 1rem;
	padding: 1rem;
	display: block;
	color: #004085;
	background-color: #cce5ff;
	border: 1px solid #b8daff;
}

.result {
	padding: .5rem;
	margin: .5rem 0;
	margin-top: 0.5rem;
	background: #e9ecef;
}

.result .title {
	margin: 0;
	font-size: 1rem;
}

.result .title a {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.result .url {
	display: block;
	color: #444;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.excerpt {
	overflow-x: hidden;
	text-overflow: ellipsis;
}

@media (prefers-color-scheme: dark) {
	body {
		background: #212529;
		color: #f8f9fa;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}

	a {
		color: #3395ff;
	}

	a:visited {
		color: #d467f2;
	}

	h1 a,
	h1 a:visited {
		color: #fff;
	}

	.icon svg {
		fill: #fff;
	}

	input[type="text"] {
		background: #131618;
		border-color: #495057;
		color: #fff;
	}

	input[type="text"]:focus {
		background: #212529;
	}

	.search p[role="note"] {
		color: #909090;
	}

	.about pre {
		background: #131618;
		color: #fff;
	}

	.infolinks a {
		color: darkgrey;
	}

	.alert {
		color: #004085;
		background-color: #cce5ff;
		border-color: #b8daff;
	}

	.result {
		background-color: #131618;
	}

	.result .url {
		color: #909090;
	}
}
