<form action="/search" role="search">
  <h1 translate="no">
    <a href="/">
      <span class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200z"></path></svg>
      </span>
      <span>searchhut</span>
    </a>
  </h1>
  <div class="input-group">
    <label for="q">Search terms</label>
    <input
      type="text"
      id="q"
      name="q"
      {{ if .Npage }}
      placeholder="Search {{.Npage}} web pages..." 
      {{ else }}
      placeholder="Search terms..." 
      {{ end }}
      autofocus
      required
      value="{{.Query}}" />
    <button type="submit">Search</button>
  </div>
</form>
