<!doctype html>
<html lang="en" class="{{.Page}}">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/static/main.css" />
<link rel="shortcut icon" type="image/png" href="/static/favicon.png" />
<title>{{.Title}}</title>
