{{template "head.html" .}}
<main>
  {{template "form.html" .}}
  <div class="alert">
    <strong>Notice!</strong>
    This product is experimental and incomplete. User beware! For details,
    read <a href="https://sourcehut.org/blog/2022-07-15-searchhut/">the announcement</a>.
  </div>
</main>
{{template "footer.html" .}}
