{{template "head.html" .}}
<header>
  {{template "form.html" .}}
</header>
<main>
  {{if .Results}}
    <p role="note">
      {{len .Results}} <span id="sr-label">search results</span> found in {{.Time}}
    </p>
    <ol aria-labelledby="sr-label">
      {{range .Results}}
      <li class="result">
        <h2 class="title">
          <a href="{{.Page.Url}}" rel="noopener nofollow">{{.Page.Title}}</a>
        </h2>
        <a href="{{.Page.Url}}" rel="noopener nofollow" class="url"><small>{{.Page.Url}}</small></a>
        {{if .Page.Excerpt}}
        <p class="excerpt">{{.Page.Excerpt}}</p>
        {{end}}
      </li>
      {{end}}
    </ol>
  {{else}}
    <p role="note">No search results found</p>
  {{end}}
</main>
{{template "footer.html" .}}
